.body{
    background-color: rgb(218, 240, 240);
    width: 500px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#b-img{
    text-align: center;
}
#b-img img{
    box-shadow:0 0 22px white;
}
#s-img{
    width: 500px;
    height: 150px; 
    overflow-x: auto;
    white-space: nowrap;
}
#s-img::-webkit-scrollbar {
    width: 0; /* Set the width to 0 to hide the scrollbar */
}
#s-img img{
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}